
div.profileItems{
    background: lightgrey;
    margin: 25px 300px 25px 300px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    top: 68px;
    height: 226px;
    text-align: center;
}

div.profileItems div.itemLine{
    position: relative;
    bottom: 74px;
}
div.profileItems div.itemLine-name{
    position: relative;
    bottom: 87px;
    font-size: 25px;
}

div.profileItems img.profile-image {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: 15px solid white;
    position: relative;
    bottom: 100px;
}

