div.image-result{
    height: 70vh;
    overflow: scroll;
    background: black;
    padding: 0px 30px 30px 30px;
    margin: 25px 21%;
    border-radius: 25px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

div.image-result::-webkit-scrollbar {
    display: none;
  }

div.image-result div.image-line{
    background: white;
    margin: 25px 0px 7px 0px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.image-result div.image-line:hover{
    cursor: pointer;
}

img.image-thumbnail{
    border-radius: 20px;
}